
<div class="reward-grid">
  <div *ngFor="let day of days; let i = index" class="reward-card" [ngClass]="{ 'done': day.status === 'done', 'locked': day.status === 'locked' }">
    <h3>Day {{ i + 1 }}</h3>
    
    <!-- Display reward amount for every day -->
    <p *ngIf="day.status !== 'locked'">
      {{ day.rewardAmount }} Light's
    </p>

    <!-- Display the locked icon for locked days -->
    <div *ngIf="day.status === 'locked'" class="locked">
      <!-- {{ day.rewardAmount }}Light's <br> -->
      <span class="material-icons">lock</span>
    </div>

    <!-- Claim button for available days -->
    <button *ngIf="day.status === 'available'" (click)="onClaim(day, i)">Claim</button>
  </div>
</div>

