<div class="settings-container">
  <h1 class="settings-title">Lighting Wallet</h1>

  <!-- Wallet Actions Section (Send & Receive) -->
  <mat-card class="settings-card action-card">
    <mat-list>
      <mat-list-item class="list-item">
        <span
          class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text action-buttons"
        >
          <button class="action-button send-button" (click)="openSendDialog()">
            <mat-icon>send</mat-icon>
            <span>Send</span>
          </button>
          <span class="spacer"></span>
          <button class="action-button receive-button">
            <mat-icon>download</mat-icon>
            <span>Receive</span>
          </button>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <!-- Existing Wallet Settings Section -->
  <mat-card class="settings-card">
    <mat-list>
      <mat-list-item
        class="list-item"
        (click)="openDialog('View Mnemonic Phrases')"
      >
        <span
          class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"
          style="display: flex"
        >
          <mat-icon class="menu-icon">text_snippet</mat-icon>
          <span class="menu-text">View Mnemonic Phrases</span>
          <span class="spacer"></span>
          <mat-icon class="arrow-icon">chevron_right</mat-icon>
        </span>
      </mat-list-item>

      <mat-list-item class="list-item" (click)="openHonorScoreDialog()">
        <span
          class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"
          style="display: flex"
        >
          <mat-icon class="menu-icon">shield</mat-icon>
          <span class="menu-text">Honor Score</span>
          <span class="spacer"></span>
          <mat-icon class="arrow-icon">chevron_right</mat-icon>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <!-- FAQ and About Section -->
  <mat-card class="settings-card">
    <mat-list>
      <mat-list-item class="list-item">
        <span
          class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"
          style="display: flex"
        >
          <mat-icon class="menu-icon faq-icon">help_outline</mat-icon>
          <span class="menu-text">FAQ</span>
          <span class="spacer"></span>
          <mat-icon class="arrow-icon">chevron_right</mat-icon>
        </span>
      </mat-list-item>

      <mat-list-item class="list-item" (click)="Community()">
        <span
          class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"
          style="display: flex"
        >
          <mat-icon class="menu-icon community-icon">groups</mat-icon>
          <span class="menu-text">Community</span>
          <span class="spacer"></span>
          <mat-icon class="arrow-icon">chevron_right</mat-icon>
        </span>
      </mat-list-item>

      <mat-list-item class="list-item" (click)="About()">
        <span
          class="mat-mdc-list-item-unscoped-content mdc-list-item__primary-text"
          style="display: flex"
        >
          <mat-icon class="menu-icon about-icon">info</mat-icon>
          <span class="menu-text">About Lighting</span>
          <span class="spacer"></span>
          <mat-icon class="arrow-icon">chevron_right</mat-icon>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
