<div class="tasks-container">
  <h1 style="margin-top: 80px" class="tasks-title">TASKS</h1>
  <p class="tasks-subtitle">
    GET REWARDS FOR COMPLETING TASKS AND DAILY REWARDS
  </p>

  <div class="custom-tabs">
    <div
      class="tab"
      [class.active]="selectedTab === 'tasks'"
      (click)="selectTab('tasks')"
    >
      Tasks
    </div>
    <div
      class="tab"
      [class.active]="selectedTab === 'rewards'"
      (click)="selectTab('rewards')"
    >
      Daily Rewards
    </div>
    <div
      class="tab"
      [class.active]="selectedTab === 'partners'"
      (click)="selectTab('partners')"
    >
      Partners
    </div>
  </div>

  <div class="tab-content">
    <div *ngIf="selectedTab === 'tasks'" class="tasks-tab">
      <div class="card-container">
        <div class="card" *ngFor="let card of cardData; let i = index">
          <div class="card-content">
            <img class="image" [src]="card.img" alt="image" />
            <div class="text">
              <h2>{{ card.name }}</h2>
            </div>
            <button
              class="start-button"
              *ngIf="!card.isStarted"
              (click)="openLinkAndEnableClaimButton(i)"
            >
              {{ card.button }}
            </button>
            <button
              class="claim-button"
              *ngIf="card.isStarted && !card.isClaimed"
              (click)="claimReward(i)"
              [disabled]="card.isClaimed"
            >
              {{ card.button }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab === 'rewards'" class="rewards-container">
      <div class="reward-card">
        <div class="reward-info">
          <h2>DAILY REWARD</h2>
          <p class="availability">
            <span *ngIf="isDayAvailable"
              >Available In <span class="status">NOW ✔</span></span
            >
            <span *ngIf="!isDayAvailable"
              >Available In {{ remainingTime }}</span
            >
          </p>
        </div>
        <img class="reward-image" src="assets/rewards.jpg" alt="Daily Reward" />
        <button
          class="go-button"
          (click)="openRewardDialog()"
          [disabled]="!isDayAvailable"
        >
          GO
        </button>
      </div>

      <div class="reward-card">
        <div class="reward-info">
          <h2>WHEEL OF FORTUNE</h2>
          <p class="availability">Coming Soon...</p>
        </div>
        <img
          class="reward-image"
          src="assets/wheel.jpg"
          alt="Wheel of Fortune"
        />
        <button class="coming-soon-button">Coming Soon...</button>
      </div>
    </div>

    <div *ngIf="selectedTab === 'partners'" class="tasks-tab">
      <h2>Comming Soon...</h2>
    </div>
  </div>
</div>
