:host {
  display: block;
  min-height: 100vh;
  background-color: #0a1b44;
  margin: 0;
  padding: 0;
}

.notification-icon {
  color: #28a7f0; /* Icon color */
  cursor: pointer; /* Change cursor to pointer for interactivity */
}

.token-balance {
  position: fixed;
  top: 20px;
  right: 10px;
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Darker semi-transparent pill-like background */
  padding: 10px 20px; /* Spacing around the pill */
  border-radius: 30px; /* Fully rounded edges for a pill shape */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  z-index: 1000; /* Keeps it on top */
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between the user icon and logo */
}

.balance-logo,
.user-icon {
  width: 24px; /* Uniform size for icons */
  height: 24px;
  border-radius: 50%; /* Circular icons */
  object-fit: cover;
}

.balance-value {
  color: #28a7f0; /* Light blue text color */
  font-weight: 600; /* Bold font weight */
  font-size: 16px; /* Text size */
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Distinct background for the balance */
  padding: 6px 12px; /* Padding for the text */
  border-radius: 12px; /* Rounded corners */
}

.settings-icon {
  position: fixed;
  top: 20px;
  left: 10px;
  color: #28a7f0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
