<div class="hexagon-container">
  <div class="close-button" (click)="close()">×</div>
  <div class="hexagon-grid">
    <!-- Define rows dynamically -->
    <div class="hexagon-row" *ngFor="let row of [0,4,7,9]">
      <div *ngFor="let hex of hexagons.slice(row, row + (row === 9 ? 1 : row === 7 ? 2 : row === 4 ? 3 : 4))"
           class="hexagon"
           [@hexagonAnimation]="hex.state">
        <span [class.white-text]="hex.state === 'active'">{{ hex.value }}</span>
        <div class="hex-label">{{ hex.label }}</div>
      </div>
    </div>
  </div>

  <!-- Show remaining cooldown time -->
  <p *ngIf="gameOver && remainingTime" style="color: ghostwhite;">
    Next spin available in: {{ remainingTime }}
  </p>

  <!-- SPIN BUTTON (Disabled if gameOver) -->
   <!-- {{gameOver}} -->
  <button *ngIf="!gameOver" class="spin-button" (click)="spinWheel()" [disabled]="spinning">
    {{ spinning ? "Spinning..." : "SPIN" }}
  </button>

  <!-- CLAIM BUTTON -->
  <button class="claim-button" *ngIf="claimAvailable" (click)="claimReward()">
    CLAIM
  </button>
</div>
