/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-padding-dialog .mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 15px !important;
  background: #0a1b44 !important;
  margin: 0 !important;
}

.wheel-dialog {
  max-height: 90vh !important;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.cdk-overlay-pane {
  border: none !important;
  box-shadow: none !important;
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

.mat-dialog-actions {
  margin: 0 !important;
  padding: 0 !important;
}

/* Override any Material theme borders */
.mat-dialog-container,
.mat-dialog-content,
.cdk-overlay-pane,
.mat-dialog-actions {
  border: 0 !important;
  outline: none !important;
}
