<mat-toolbar color="primary" class="bottom-navbar">
  <button mat-button routerLink="/mine" routerLinkActive="active">
    <mat-icon>gavel_outline</mat-icon>
    <span>Mine</span>
  </button>
  <button mat-button routerLink="/task" routerLinkActive="active">
    <mat-icon>task_alt_outline</mat-icon>
    <span>Task</span>
  </button>
  <button mat-button routerLink="/upgrade" routerLinkActive="active">
    <mat-icon>upgrade_outline</mat-icon>
    <span>Upgrade</span>
  </button>
  <button mat-button routerLink="/friends" routerLinkActive="active">
    <mat-icon>group_outline</mat-icon>
    <span>Friends</span>
  </button>
  <button mat-button routerLink="/wallet" routerLinkActive="active">
    <mat-icon>account_balance_wallet_outline</mat-icon>
    <span>Wallet</span>
  </button>
  <button mat-button routerLink="/about" routerLinkActive="active">
    <mat-icon>info_outline</mat-icon>
    <span>About</span>
  </button>
</mat-toolbar>
