<mat-toolbar color="primary" class="bottom-navbar">
  <button mat-button routerLink="/mine" routerLinkActive="active">
    <mat-icon>gavel</mat-icon>
    <span>Mine</span>
  </button>
  <button mat-button routerLink="/task" routerLinkActive="active">
    <mat-icon>task</mat-icon>
    <span>Task</span>
  </button>
  <button mat-button routerLink="/upgrade" routerLinkActive="active">
    <mat-icon>upgrade</mat-icon>
    <span>Upgrade</span>
  </button>
  <button mat-button routerLink="/friends" routerLinkActive="active">
    <mat-icon>group</mat-icon>
    <span>Friends</span>
  </button>
  <button mat-button routerLink="/wallet" routerLinkActive="active">
    <mat-icon>account_balance_wallet</mat-icon>
    <span>Wallet</span>
  </button>
  <button mat-button routerLink="/about" routerLinkActive="active">
    <mat-icon>info</mat-icon>
    <span>About</span>
  </button>
</mat-toolbar>
